torch
torchvision
opencv-python
numpy
fastapi
uvicorn
python-multipart
pillow
langchain
langchain-openai
langchain-chroma
langchain-community
tiktoken
python-dotenv
langchain-google-genai
langchain-text-splitters
pypdf
langchain-huggingface
sentence-transformers
